* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    color: rgb(0, 15, 146);
    
}
html{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}
body{
    background:white ;
    font-family: Helvetica, sans-serif;
    
    max-width: 450px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}

header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
   
    border-bottom: 1px solid;
    transition: all 0.5s ease;
}
footer{
    position: absolute;
    bottom: 10px;
    background:white;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 0.75rem;
    
    
}

.topheader{
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.menubtn{
    width: 25px;
    height: 15px;
    border:none;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
    background-size: contain;
    margin: 10px 0px;
    cursor: pointer;
}

.menudivclass{
    color: rgb(0, 15, 146);
    height: 70px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
    border-radius: 3px;
    max-width: 100%;
    transition: all 0.5s ease;    
}

.select1_btn,.select2_btn{
    width: 60px;
    height: 40px;
    font-weight: bold;
    border:solid 1px rgb(0, 15, 146);
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
    background-size: contain;
    cursor: pointer;
    transition: all 0.3s ease;
    margin:5px 0px;
}

.selected_btn{
    color: white;
    background-color:rgb(0, 15, 146) ;
    
}

.show{  
    height: 0vh;
    opacity:0;
    transition: all 0.5s ease;
    z-index: -1;
}

.switch{  
    display: none;
    height: 0vh;
    opacity:0;
    z-index: -1;
}
